* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background: url(./img/фон.jpg) no-repeat center;
    background-size: cover;
}

.text img {
    margin: 0 auto;
    padding: 144px 0 350px 0;
}

.wrapper {
    max-width: 1275px;
    margin: 0 auto;
}

.text_card {
    text-transform: uppercase;
    margin: 32px 0 32px 0;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

.block_wrapper {
    display: flex;
    justify-content: space-between;
}

.block {
    width: 400px;
    height: 460px;
    background: #030200;
}

.text_foto>img {
    margin: 0 auto;
    padding: 37px 0 87px 0;
}

.foto>img {
    margin: 0 auto;
}

.inner_img {
    margin: 42px 0 40px 0;
}

footer {
    width: 100%;
    height: 279px;
    background: rgba(3, 2, 0, 0.8);
}

.container {
    width: 664px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 12px;
}

.text_footer {
    display: flex;
    justify-content: space-between;
}

.text_footer_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.footer>img {
    margin: 0 auto;
    text-align: center;
}
.contacts {
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
}

.icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.vector {
    margin-right: 30px;
}

.vector_2 {
    margin-right: 30px;
}
